<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
</head>
<body class="text-gray-600 bg-gray-100">
    <div class="absolute top-0 left-0 p-4">
        <a href="javascript:history.back()">
            <img src="/img/backarrow.png" alt="Back" style="width: 40px; height: 30px;" />
        </a>
    </div>    
    <nav class="text-center mt-6">
        <h1 class="text-gray-600 text-6xl">AKtion NBA Team Creator</h1>
    </nav>
    <main class="flex justify-center items-center min-h-screen">
        <div class="flex flex-col space-y-4">
            <a href="createTeam" class="px-6 py-3 bg-blue-600 text-white rounded hover:bg-blue-400 transition duration-200 ease-in-out text-center font-semibold">Create Team</a>
            <a href="myTeams" class="px-6 py-3 bg-blue-600 text-white rounded hover:bg-blue-400 transition duration-200 ease-in-out text-center font-semibold">My Teams</a>
        </div>
    </main>
</body>
</html>
